/* http://demos.uilang.com/hamburger-menu/style.css */

@media only screen and (max-width: 1279px){
    
    .socialmo {
         z-index: 999999;
   padding-top: 15px;
    bottom:16px;

   text-align: center;
   
  }
 
    .social {
        
        
        display: none;
    }
    
nav span {
        vertical-align: top;
        display: inline-block;
        position: relative;
    z-index: 9999;
  }
    

    
.mo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 101;
  width: 36px;
  height: 36px;
     min-width: 36px;
  min-height: 36px;
  box-sizing: border-box;
  padding: 11px 0 0 9px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
     z-index: 1510;
   background-color: white;
}
.ham {
  display: block;
  width: 16px;
  height: 2px;
  background: rgb(0, 0, 0);
  -webkit-transition: 1s;
  transition: 1s;
  pointer-events: none;
    z-index: 1510;

}
.ham:nth-child(2) {
  margin: 3px 0;
     z-index: 1510;
}
    
.open {
  border-color: rgb(0, 0, 0);
   z-index: 1510;
}
.open .ham {
  background: rgb(0, 0, 0);
    z-index: 1510;
}
.open :first-child {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
     z-index: 1510;
}
.open :nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
     z-index: 1510;
}
.open :last-child {
  -webkit-transform: translateY(-5px) rotate(-135deg);
          transform: translateY(-5px) rotate(-135deg);
     z-index: 1510;
}






nav {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
    background-color: white;
    opacity:0.95;
    overflow: auto;
    
);
    z-index: 1500;

  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
   
   
 
}
    
    .imphome{

 vertical-align: top;
        display: inline-block;
        position: relative;
    z-index: 9999;
margin:0;
          color: Black;
    padding-top:2px;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 10pt;
    cursor: pointer;
    top: 0px;
    width:100%;
        
        
}


.imphome a{


text-decoration: none;


}


.imphome:hover{
    
    
    
    opacity: 0.3;
}
    
    
    
    
   /* -----------------------------------------------------------------------------------------------------------------*/
    
    
    
    
    
    
.open + nav {
  -webkit-transform: none;
          transform: none;
}
code {
  color: transparent;
  font-size: 0;
}

    

.button {
    
 
    background: rgba(255, 255, 255, 0.0);
   
    color: Black;
    padding-top:2px;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 30pt;
    cursor: pointer;
    top: 0px;
    width:100%;

 
   
   transition: 0.4s;
    }
    
    
    
    .home {
        

     background: rgba(255, 255, 255, 0.0);
   
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
   font-size: 32pt;
    cursor: pointer;
    top: 0px;
    width:100%;
   transition: 0.4s;
        overflow: auto;
}
    
     .home:hover {
     border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
}
    
    .button:hover {
   border-bottom: 1px solid green;
        border-left: none;
        border-right: none;

}



 nav p {
     margin:0;

}
    
    
    .info {
        
        text-align: center;
    }
    
    .rechts {
    
    display: none;
}
    
  }  




    
