@import url(http://fonts.googleapis.com/css?family=Open+Sans);





.container{
  position: relative;
  width: 90%;
z-index: 100;
	margin: auto;
}

.container h2{
	text-align: center;
	text-transform: uppercase;
	color: #9c25c7;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

#contact input[type="text"],#contact input[type="email"], #contact input[type="number"], #contact input[type="date"], #contact textarea{
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 80%;
	font-size: 18px;
	color: #777;
  border: 1px solid #ccc;
    height:27px;
}

#contact textarea{
	font-size: 16px;
    
}

#contact input:hover, #contact textarea:hover{
	border: 1px solid #888;
}
#contact input:focus, #contact textarea:focus{
	border: 1px solid #777;
}


#contact textarea{
	width: 80%;
height: 144px;

  resize: none;
}

#contact .send-button{
	text-align: center;
}

#contact .send-button button[type="submit"]{
	color: #000000;
  background: #f5fff8;
  border: none;
	width: 90%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	transition: .5s all ease;
  cursor: pointer;
  margin:15px  0 auto;
  border: 1px solid #a0089a;
}

#contact .send-button button[type="submit"]:hover{
	background: #14e6b2;

}

#contact .send-button button[type="submit"]:focus{
	position: relative;
	top: 2px;
}


@media screen and (min-width: 673px){


.mediaboxhome .inf {
      display: block;
width: 100%;
}


    .mediaboxhome .cal{
        display: none;

}


.mediaboxhome .preis{
    display: none;

}
    }

@media screen and (max-width: 672.99px){
   .mediaboxhome .inf {
        display: none;
    
    }
    
    
    .mediaboxhome .cal{
        display: block;
    width: 60%;
        margin: 0 auto;
    }
    
    
.mediaboxhome .preis{
    display: block;
    width: 60%;
    margin: 0 auto;
    }
    
 }
/*######################################\*
              Responsive
\*######################################*/

@media screen and (min-width: 673px){
    
 
    
    
    
	.container{
		width: 100%;
	}

  #contact textarea{
width: 80%;
    min-height: 127px;
  
   margin: 10px auto;

  }

	#contact .right,#contact .left{
		display: block;

	}

	#contact .right{
		float: right;
		width:44%;
      
        margin-right: 40px;
	}

	#contact .left{
		float: left;
		width: 44%;
         margin-left: 40px;
	}
	.cl{
    clear: both;
  }
}



